.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: dense;
  gap: 20px;
}

.grid-container > div {
  border: 2px solid teal;
  border-radius: 15px;
}

.grid-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.tall {
  grid-row: 2 span;
}

.medium {
  grid-column: 2 span;
}

.big {
  grid-column: 2 span;
  grid-row: 2 span;
}
